.closed {
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.closed > a {
  text-decoration: underline;
}

.closed > span {
  font-size: 1.25rem;
}

.main {
  display: flex;
  min-height: 100vh;
}

.main > section {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
}
