.closed {
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.closed > span {
  font-size: 1.25rem;
}

.main {
  display: flex;
}

.section {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
}
