@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --clr-a: #f0d4d4;
  --clr-b: #ed2241;
  --clr-c: #b41e3c;
  --clr-d: #961e1e;

  --clr-green: #67bb67;
  --clr-blue: #8787bb;

  --clr-dark: #3c1e1e;
  --clr-light: #fff0f0;
  --clr-lighter: #fff8f8;

  --clr-lighter-gray: #f0f0f0;
  --clr-light-gray: #d7d7d7;
  --clr-gray: #a1a1a1;
  --clr-dark-gray: #717171;

  --font-a: 'Public Sans', sans-serif;
  --font-b: 'Ubuntu', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--clr-dark);
  text-decoration: none;
}

body {
  color: var(--clr-dark);
  font-family: var(--font-a);
}

h1,
h2 {
  font-family: var(--font-b);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  20% {
    box-shadow: 0 0 0 0 rgb(0 0 0 / 75%);
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(0 0 0 / 0%);
    transform: scale(0.95);
  }
}

@keyframes timeout {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}
