@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --clr-a: #4776e6;
  --clr-b: #8e54e9;
  --clr-c: #56ccf2;
  --clr-d: #2f80ed;
  --clr-dark: rgb(45 45 90);
  --clr-light: rgb(240 240 255);
  --clr-light-gray: rgb(215 215 215);
  --clr-lighter-gray: rgb(240 240 240);
  --clr-red: rgb(210 80 80);
  --clr-light-red: rgb(240 215 215);
  --gradient-a: linear-gradient(to right, #4776e6, #8e54e9);
  --gradient-b: linear-gradient(135deg, #56ccf2, #2f80ed);

  --font-a: 'Lato', sans-serif;
  --font-b: 'Ubuntu', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--clr-dark);
  text-decoration: none;
}

body {
  color: var(--clr-dark);
  font-family: var(--font-a);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-b);
}
